<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body style="text-align: center">
    <h1><%= title %></h1>
    <div class="container-fluid" style="text-align: center">
        <blockquote>
            <p>User Story: I can get the IP address, language and operating system for my browser.</p>
        </blockquote>
        <div>
            <h2>Examples</h2>
            <p>
                Input: https://ch4tml-rh-ms.herokuapp.com/api/whoami<br>
                Ouput: <code>{"IP": 127.0.0.1, "language": "en-US", "operating system": "Microsoft"}</code>
            </p>
        </div>
    </div>
  </body>
  <footer>
      Created by <a href="http://www.freecodecamp.com/ch4tml" target="_blank">ch4tml</a>
  </footer>
</html>