<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body style="text-align: left">
    <h1><%= title %></h1>
    <div class="container-fluid" style="text-align: left">
        <div class="jumbotron" style="text-align: left">
            <ul>
              <li>
                User Story: I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
              </li>
              <li>
                User Story: If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.
              </li>
              <li>
                User Story: When I visit that shortened URL, it will redirect me to my original link.
              </li>
            </ul>
        </div><!-- Jumobtron -->
        <div>
            <h2>Examples</h2>
            <p>
                Input: https://ch4tml-url-ms.herokuapp.com/new/http://www.bbc.co.uk/news<br>
                Ouput: <code>{"original_url": "http://www.bbc.co.uk/news", "short_url": "https://ch4tml-url-ms.herokuapp.com/96MsiRy"}</code>
            </p>
            <p>
                Input: https://ch4tml-url-ms.herokuapp.com/new/guardian.co.uk<br>
                Ouput: <code>{"original_url": "http://guardian.co.uk", "short_url": "https://ch4tml-url-ms.herokuapp.com/d9Kaa6R"}</code>
            </p>
        </div>
    </div>
  </body>
  <footer>
      Created by <a href="http://www.freecodecamp.com/ch4tml" target="_blank"><%= author %></a> as part of the <a href="http://www.freecodecamp.com/" target="_blank">Free Code Camp</a> curriculum.
  </footer>
</html>